/* Projects ---------------------------------------------------------------------------------- */

.projects {
  background-color: #f5f5f5;
  color: #0f0f0f;
  padding: 8rem 0;
}

.project {
  margin-top: 5rem;
  text-align: center;
  display: inline-block;
  width: 350px;
  height: 400px;
  color: #f5f5f5;
  border: 3px solid #0f0f0f;
  border-radius: 10px;
}

.project button {
  position: absolute;
  bottom: 0;
  right: 33%;
}

.project-img {
  border-radius: 5px;
}

.project-button-left {
  left: 50px;
}

.project-button-right {
  right: 50px;
}

/* Modal --------------------------------------------------------------------------------- */

.modal-background {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.modal {
  width: 800px;
  height: 500px;
  display: flex;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
  position: fixed;
  z-index: 1010;
  border-radius: 10px;
}

.modal-icon {
  position: absolute;
  top: 1px;
  right: 1px;
  cursor: pointer;
}

.modal-img {
  width: 60%;
  height: 100%;
  background: #0f0f0f;
}

.modal-content {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  line-height: 1.8;
  color: #0f0f0f;
  padding: 2rem;
}

.modal-content textarea {
  border: 0 solid #a0a0a0;
  border-radius: 2%;
  box-shadow: 0 0 10px #dadada;
  padding: 10px 15px;
}

.modal-buttons {
  display: inline-block;
}

.modal-buttons a {
  margin-top: 1rem;
  margin-right: 1rem;
}

.demo-inactive {
  cursor: not-allowed !important;
}

/* Contact --------------------------------------------------------------------------------- */

.contact {
  text-align: left;
  padding-bottom: 5rem;
}

.margin-top {
  margin-top: 3rem;
}

.error {
  color: #de5246;
}

.success {
  color: #008000;
}
