html {
  scroll-behavior: smooth;
}

body {
  background-color: #0f0f0f;
  color: #f5f5f5;
  text-align: center;
  line-height: 1.5rem;
}

hr {
  border-top: 3px solid #f5f5f5;
}

.navbar {
  background-color: #f5f5f5;
  position: fixed;
  top: 0;
  width: 99.11vw;
}

.greeting {
  background-image: linear-gradient(to bottom right, #f5f5f5 50%, #0f0f0f 50%);
  margin-bottom: 3rem;
  height: 95vh;
}

.greeting-text {
  color: #f5f5f5;
  padding-top: 20rem;
  mix-blend-mode: exclusion;
}

.projects {
  background-color: #f5f5f5;
  color: #0f0f0f;
  padding: 10rem 0;
}

.project {
  text-align: center;
  display: inline-block;
  width: 350px;
  height: 400px;
  color: #f5f5f5;
  border: 3px solid #0f0f0f;
  border-radius: 10px;
}

.project-button {
  display: inline-block;
  position: absolute;
  bottom: 3%;
  width: 90px;
}

.project-button-left {
  left: 50px;
}

.project-button-right {
  right: 50px;
}

.keeper {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  background-color: #f5ba13;
  color: #fff;
  padding-top: 50%;
}

.contact {
  padding-bottom: 5rem;
}

.icons {
  color: #f5f5f5;
  margin-right: 1rem;
}

.icons:hover {
  color: #696969;
}

.margin-top {
  margin-top: 3rem;
}

.side-icons {
  position: fixed;
  color: #f5ba13;
  width: 20px;
  height: 100px;
  left: 0;
  margin-top: 35vh;
}
